*{
    font-family: Helvetica;
    margin: 0em;
}

#navbar{
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 0.5em;    
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 0em;

}

#navbar li {
    margin-left: 3em;

}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input{
    padding: 5px;
}